.banner {
    color: white;
    height: 192px;
    background: url(../img/banner-image.png) center;
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;

}

.banner__title {
    font-size: 22px;
    margin: 0;
    padding-bottom: 0.5rem;
}

.banner_paragraph {
    font-size: 14px;
    margin: 0;
    padding-bottom: 0.5rem;
}

.banner__btn {
    border: none;
    color: white;
    background-color: var(--color-blue-btns);
}

@media screen and (min-width:768px) {
    .banner {

        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media screen and (min-width:1024px) {
    .banner {
        padding-left: 9.5rem;
        padding-right: 9.5rem;
    }
}