.catalog {
    padding: 1rem;
    padding-bottom: 0;
    color: var(--color-brown-font);
    padding-top: 0;
}

.catalog__top {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.catalog__top a {
    display: flex;
    align-items: center;
    text-align: center;
}

.catalog__top a img {
    padding-left: 5px;
}

.catalog__name {
    margin: 0.5rem 0;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.catalog__list__item {
    width: 156px;

}

.catalog__list__item img {
    width: 156px;
    height: 174px;
    margin-top: 0.5rem;
}

.item-title {
    font-size: 14px;
    margin: 0.5rem 0;
}

.item-price {
    margin: 0;
    font-size: 16px;
}

.item-link {
    margin: 0.5rem 0;

}

.item-link a {
    text-decoration: none;
    color: var(--color-blue-btns);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width:768px) {
    .catalog {

        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width:1024px) {
    .catalog {
        padding:3rem 9.5rem;

    }

    .catalog__list__item img{
        width: 113%;
    }
}