.contact {
    background-color: var(--color-light-blue);
    padding: 0 1rem;
}

.contact__title {
    margin-top: 0;
    font-size: 16px;
    color: var(--color-brown-font);
}

.form__text {
    border: none;
    width: 90%;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
}

.contact__form input {
    margin-bottom: 0.5rem;
}


.contact__form__btn {
    border: none;
    color: white;
    background-color: var(--color-blue-btns);
    margin: 0.5rem 0;
    margin-bottom: 1rem;
}

@media screen and (min-width:768px) {
    .contact__title {
        padding-top: 2rem;
    }
}