.btn__menu {
    border: 1px var(--color-blue-btns) solid;
    color: var(--color-blue-btns);
    background-color: white;
    font-size: 14px;
    padding: 12px;
    width: 166px;
}

main {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    align-items: center;

    background-color: var(--color-light-gray);

}

.tittle {
    font-size: 22px;
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: var(--color-brown-font);
}

.form__input {
    width: 288px;
    height: 41px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    border: none;
    margin-bottom: 1rem;
    color: var(--color-extra-light-gray);
    font-weight: 400;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px var(--color-extra-light-gray) solid;
}

.form__label{
    text-align: left;
    color: var(--color-extra-light-gray);
    width: 304px;
    padding: 0 12px;
    background-color: white;
    font-size: 12px;
}

.form__button {
    width: 328px;
    background-color: var(--color-blue-btns);
    border: none;
    color: white;
}

@media screen and (min-width: 1024px) {
    .tittle {
        font-size: 18px;
    }

    .form__input {
        width: 383px;
        height: 63.13px;
    }

    .form__button {
        width: 423px;
        height: 63.13px;
        font-size: 18px;
        padding: 12px 0;
    }
}