.contact {
    background-color: var(--color-light-blue);
    padding: 0 1rem ;
}

.contact__title {
    margin-top: 0;
    font-size: 16px;
    color: var(--color-brown-font);
}

.contact__form input {
    width: 328px;
    height: 56px;
    border: none;
    margin-bottom: 0.5rem;
}

.contact__form textarea {
    width: 328px;
    height: 82px;
    border: none;
}

.contact__form__btn{
    border: none;
    color: white;
    background-color: var(--color-blue-btns);
    margin: 0.5rem 0 ;

}
