.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}


.btn__login {
    color: var(--color-blue-btns);
    background-color: white;
    border: var(--color-blue-btns) solid 1px;
}